
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add contract form</title>
    <link rel="stylesheet" href="./styles/styleaddcontract.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title">Add Contract</div>
        <form action="/addcontract" method="POST">
        <div class="Contract-details">
            <div class="input-box">
                <span class="details">Contract ID</span>
                <input type="text" name="Contract_ID" placeholder="Contract ID" required>
            </div>
            <div class="input-box">
                <span class="details">Contract Name</span>
                <input type="text" name="Contract_Name" placeholder="Contract Name" required>
            </div>
            <div class="input-box">
                <span class="details">Status</span>
                    <div class="select-box">
                      <select name="Contract_Status">
                        <option hidden>Status</option>
                        <option>Active</option>
                        <option>Expired</option>
                      </select>
                    </div>
            </div>
            <div class="input-box">
                <span class="details">Contract Type</span>
                <div class="select-box">
                    <select name="Contract_Type">
                      <option hidden>Contract type</option>
                      <option>Revenue Expenditure</option>
                      <option>Capital expenditure</option>
                    </select>
                  </div>
            </div>
            <div class="input-box">
                <span class="details">Start Date</span>
                <input type="date" placeholder="Start Date" name="Contract_StartDate" required>
            </div>
            <div class="input-box">
                <span class="details">End Date</span>
                <input type="date" placeholder="End Date" name="Contract_EndData" required>
            </div>
            <div class="input-box">
                <span class="details">Description</span>
                <input type="text" placeholder="Description" name="Description" required>
            </div>
            <div class="button">
                <input type="submit" name="submit" value="Submit">
            </div>
        </div>
        </form>
    </div>
</body>
</html> 